#Form {
  padding-top: 100px;
  margin: 0 auto;
  font-size: 20px;
  font-family: 'Rock Salt', cursive;
  line-height: 0;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 3em;
  margin-bottom: 2em;
}

input, p {
  font-family: 'Caveat', cursive;
  font-size: 3em;
  color: white;
  /* margin: 1em 0; */
}

input {
  text-align: center;
  padding: 0;
  background-color: rgba(256, 256, 256, 0);
  border: none;
}

input:focus {
	outline:0;
}

::placeholder {
  color: white;
}

span {
  border: 1px solid black;
  padding: 0 30px;
}

/* font-family: 'Caveat', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Fredericka the Great', cursive; */